@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-text-color: #fafafade;
  --subtitle-text-color: #888888;
  --text-color: hsla(8, 0%, 63%, 1);

  --heading-text-color: hsla(0, 0%, 93%, 1);

  --heading-text-size: 2.5rem;
  --info-text-color: hsla(0, 0%, 63%, 1);

  --page-width: 1440px;
  --page-padding: 2rem;
}

body {
  font-family: "Geist", sans-serif;

  &::selection {
    background: #0059ec;
    color: #ffffff;
  }
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

/* utility classes */
.wrapper {
  max-width: var(--page-width);
  margin-inline: auto;
  width: min(100% - var(--page-padding));
  padding: 0 120px;

  @media (max-width: 768px) {
    padding: 0 16px;
  }
}

.heading-text {
  font-size: var(--heading-text-size);
  font-weight: 600;
  color: var(--heading-text-color);
  line-height: 3.5rem;
  letter-spacing: -0.08rem;
}

.info-text {
  font-size: 1.25rem;
  line-height: 2rem;
  color: var(--info-text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
}

/* WebKit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #2e2e2e;
}
::-webkit-scrollbar-thumb {
  background-color: #5c5c5c;
  border-radius: 6px;
  border: 2px solid #2e2e2e;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background-color: #7d7d7d;
}

/* Firefox only - Chrome/Edge/Safari will skip it altogether */
@supports (-moz-appearance: none) {
  /* fix hover bug on chrome style getting overide*/
  * {
    scrollbar-width: auto;
    scrollbar-color: #5c5c5c #2e2e2e;
  }
}
